body {
	background-color: #eaeaea;
	color: #000;
    font-family: sans-serif;
    margin: 0;
	padding: 1ex;
}
.hidden {
	display: none;
}
#menuwrap,
#menu,
main,
footer {
	margin: 0px auto;
	max-width: 80ex;
}
a {
    color: #214797;
    text-decoration: none;
}
h1 {
	font-size: 140%;
}
h2 {
	font-size: 120%;
}
h3, h4, h5, h6 {
	font-size: 100%;
}
hr {
    border: none;
    height: 1px;
    background-color: #cccccc;
}
img {
    max-height: 500px;
}
figure {
    text-align: center;
}
figure img {
    display: inline-block;
}
#menu a {
	font-weight: bold;
	vertical-align: middle;
}
.columns {
    display: flex;
}
.leftcolumn {
	float: left;
	padding 10px;
	box-sizing: border-box;
	width: 100%;
    max-width: 60%;
}
.rightcolumn {
	float: right;
	box-sizing: border-box;
	width: 100%;
    max-width: 40%;
}
.rounded img {
	border-radius: 50% ;
}

#blogposts-table tr.year-row td {
	font-weight: bold;
    padding-top: 0.5em;
}

#blogposts-table tr.first-year-row td {
	padding-top: 0;
}

#blogposts-table td.date-cell {
  white-space: nowrap;
  vertical-align: top;
  padding-right: 10px;
}

#cv-table th, td {
    vertical-align: top;
    padding-right: 20px;
}

#cv-table ul {
    margin: 0;
}

footer {
    color: #6d6d6d;
}
footer p {
    font-size: 75%;
}
